* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: lightsalmon;

}

header {
    display: flex;
    padding: 1rem 5%;
    background-color: teal;
    align-items: center;
    justify-content: start;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;

}

nav ul {
    display: flex;
    gap: 1.25rem;
    list-style: none;
}

nav li {
    padding: 0.5rem, 1.5rem;
    margin-right: 1.5rem;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: lightsalmon;
    cursor: pointer;
}

nav a:hover {
    color: rgb(255, 221, 208);
}

.hero {
    background-image: url('https://images.unsplash.com/photo-1590646299329-ac2652afd477?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    width: 100%;
    text-align: center;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    color: Coral;
    font-size: 2rem;
    padding: 2rem;
}

.summary {
    padding: 2rem 1rem;
    background-color: teal;
}

.summary h2 {
    color: yellow;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.summary p {
    color: white;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.photos{
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photos img{
    width: 45%;
    margin: 1.5%;
}
@media screen and (max-width:768px) {
    header {
        padding: 0.75rem 4%;
    }

    nav a {
        font-size: 1.1rem;

    }

    nav ul {
        gap: 1.1rem;
    }

    .hero {
        height: 25rem;
    }

    .hero h1 {
        font-size: 1.75rem;
        padding: 1.75rem;
    }

    .summary {
        padding: 1.75rem 0.75rem;
        background-color: teal;
    }

    .summary h2 {
        color: yellow;
        font-size: 1.75rem;
        margin-bottom: 1.25rem;
    }
    .photos{
        padding: 1.75rem 0.75rem;
    }
    .photos img{
        width: 100%;
        margin: 1.5%;
    }
}

@media screen and (max-width:480px) {
    header {
        justify-content: center;
    }

    nav li {
        text-align: center;

    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        height: 20rem;
        margin-top: 6rem;
    }

    .hero h1 {
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    .summary {
        padding: 1rem 0.5rem;
        background-color: teal;
    }

    .summary h2 {
        color: yellow;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .summary p {
        color: white;
        line-height: 1.4;
        margin-bottom: 1rem;
    }
    .photos{
        padding: 1.5rem 0.5rem;
    }
    .photos img{
        width: 100%;
        margin: 1.5%;
    }
}